/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* ==== BASE STYLES ==== */

body{
  font-family:'Libre Baskerville', italic;
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
}

h1{
  font-size:1.6rem;
  text-align:center;
  color:rgb(217, 217, 217);
}

h2{
  text-align:center;
  font-size:1.6rem;
  color:rgb(217, 217, 217);
}

/* ==== FRAME STYLES ==== */
/*DESKTOP SCREEN*/
@media (min-width: 1025px){
  .frame{
    width:50%;
    margin:auto;
	box-shadow:25px 25px 23px rgba(60, 61, 63, 0.4);
	margin-top:1rem;
	margin-bottom:3rem;
  }
}


/* ==== HEADER STYLES ==== */

.header{
  position:relative;
}

.title-box{
  border: 1px solid;
  /*border-radius:15px;*/
  background-color:rgba(0, 0, 0,.6);
  position:absolute;
  bottom:0.5%;
  width:100%;
  
}

img{
  width:100%;
}



/* ==== INTRO STYLES ==== */

.intro{
  background: hsla(100,0%,0%,.6);
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  padding:0.8rem;
  line-height:1.5rem;
  border-left: 1px solid rgba(60, 61, 63, 0.2);
  border-right: 1px solid rgba(60, 61, 63, 0.2);
}


/* ==== PROGRAM STYLES ==== */

.program{
  color: #d2ba87;
  background: rgba(38, 38, 38, 0.6);
  padding:.8rem;
  font-family:Muli, 'Libre Baskerville';
  line-height:1.2rem;
}

.day{
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}

h3{
  text-align:center;
}

.link{
  margin-top:1rem;
}

a{
  color:rgb(255, 221, 153);
}

a:hover{
  color:rgb(128, 168, 255);
}

hr{
  color: #d2ba87;
}